.main {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: black;
  --background-color: gray;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  --background-color: gray;
  align-items: center;
  flex-flow: column wrap;

}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9 {
  display: flex;
  align-items: center;

}


.cv-template {
  width: 80%;
  /*  display: none; */
}

.full {

  width: 85%;
  max-width: 1000px;
  min-height: 100px;
  background-color: rgb(245, 239, 231);
  margin: 0px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.left {
  position: initial;
  background-color: rgb(181, 211, 224);
  padding: 20px;

}

.right {
  position: initial;
  background-color: rgb(194, 227, 255);
  padding: 20px;

}
.name,
.image,
.Kontakt,
.Kompetanse,
.Språk,
.Interesser,
.Sammendrag,
.Arbeidserfaring,
.Utdannelse,
.Sertifikater,
.Annet {
  margin-bottom: 10px;
  & h2,h1,p,ul{
       margin: 0;
       padding: 0;
  }
}

.h2 {
  background-color: rgb(4, 96, 150);
}

.nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }


